@import "tailwindcss";
@import "tailwind-scrollbar-hide/v4";

@tailwind utilities;
@layer utilities {
  /* center */
  .flex-center {
    @apply flex justify-center items-center;
  }
  .font-yangjin {
    @apply font-['Yangjin'];
  }
  /* 헤더 */
  .on svg {
    stroke: #f2913d;
  }
  /* 메인 - 채널:반짝이는 애니메이션 */
  .animate-twinkle {
    animation: twinkle 2.4s ease-in-out infinite;
  }
  .animate-twinkleBackground {
    animation: twinkleBackground 4s ease-in-out infinite;
  }
  .animate-shootingStar {
    animation: shootingStar 5s linear infinite;
  }
  /* 글라스 모피즘 */
  .glassmoph-bd {
    @apply bg-[linear-gradient(-45deg,rgba(255,255,255,0.4),rgba(217,217,217,0.4))] p-[1px] backdrop-blur-[2px];
  }
  .glassmoph-bg {
    @apply bg-white/70;
  }
}
